In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = False

In [ ]:
train_df = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/train.csv')
test_df = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/test.csv')
info_df = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/data_info.csv')

In [ ]:
train_df

,id,base_date,day_of_week,base_hour,lane_count,road_rating,road_name,multi_linked,connect_code,maximum_speed_limit,...,road_type,start_node_name,start_latitude,start_longitude,start_turn_restricted,end_node_name,end_latitude,end_longitude,end_turn_restricted,target
0,TRAIN_0000000,20220623,목,17,1,106,지방도1112호선,0,0,60.0,...,3,제3교래교,33.427747,126.662612,없음,제3교래교,33.427749,126.662335,없음,52.0
1,TRAIN_0000001,20220728,목,21,2,103,일반국도11호선,0,0,60.0,...,0,광양사거리,33.500730,126.529107,있음,KAL사거리,33.504811,126.526240,없음,30.0
2,TRAIN_0000002,20211010,일,7,2,103,일반국도16호선,0,0,80.0,...,0,창고천교,33.279145,126.368598,없음,상창육교,33.280072,126.362147,없음,61.0
3,TRAIN_0000003,20220311,금,13,2,107,태평로,0,0,50.0,...,0,남양리조트,33.246081,126.567204,없음,서현주택,33.245565,126.566228,없음,20.0
4,TRAIN_0000004,20211005,화,8,2,103,일반국도12호선,0,0,80.0,...,0,애월샷시,33.462214,126.326551,없음,애월입구,33.462677,126.330152,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,TRAIN_4701212,20211104,목,16,1,107,-,0,0,50.0,...,0,대림사거리,33.422145,126.278125,없음,금덕해운,33.420955,126.273750,없음,20.0
4701213,TRAIN_4701213,20220331,목,2,2,107,-,0,0,80.0,...,3,광삼교,33.472505,126.424368,없음,광삼교,33.472525,126.424890,없음,65.0
4701214,TRAIN_4701214,20220613,월,22,2,103,일반국도12호선,0,0,60.0,...,0,고성교차로,33.447183,126.912579,없음,성산교차로,33.444121,126.912948,없음,30.0
4701215,TRAIN_4701215,20211020,수,2,2,103,일반국도95호선,0,0,80.0,...,0,제6광령교,33.443596,126.431817,없음,관광대학입구,33.444996,126.433332,없음,73.0
4701216,TRAIN_4701216,20211019,화,6,2,107,경찰로,0,0,60.0,...,0,서귀포경찰서,33.256785,126.508940,없음,시민공원,33.257130,126.510364,없음,35.0

In [ ]:
train_df.isnull().sum()

id                       0
base_date                0
day_of_week              0
base_hour                0
lane_count               0
road_rating              0
road_name                0
multi_linked             0
connect_code             0
maximum_speed_limit      0
vehicle_restricted       0
weight_restricted        0
height_restricted        0
road_type                0
start_node_name          0
start_latitude           0
start_longitude          0
start_turn_restricted    0
end_node_name            0
end_latitude             0
end_longitude            0
end_turn_restricted      0
target                   0
dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4701217 entries, 0 to 4701216
Data columns (total 23 columns):
 #   Column                 Dtype
---  ------                 -----
 0   id                     object
 1   base_date              int64
 2   day_of_week            object
 3   base_hour              int64
 4   lane_count             int64
 5   road_rating            int64
 6   road_name              object
 7   multi_linked           int64
 8   connect_code           int64
 9   maximum_speed_limit    float64
 10  vehicle_restricted     float64
 11  weight_restricted      float64
 12  height_restricted      float64
 13  road_type              int64
 14  start_node_name        object
 15  start_latitude         float64
 16  start_longitude        float64
 17  start_turn_restricted  object
 18  end_node_name          object
 19  end_latitude           float64
 20  end_longitude          float64
 21  end_turn_restricted    object
 22  target                 float64
dtypes: float64(9), int64(7), object(7)
memory usage: 825.0+ MB

In [ ]:
info_df

                      변수명           변수 설명
0                      id             아이디
1               base_date              날짜
2             day_of_week              요일
3               base_hour             시간대
4             road_in_use          도로사용여부
5              lane_count             차로수
6             road_rating            도로등급
7            multi_linked         중용구간 여부
8            connect_code          연결로 코드
9     maximum_speed_limit          최고속도제한
10      weight_restricted          통과제한하중
11      height_restricted          통과제한높이
12              road_type            도로유형
13         start_latitude        시작지점의 위도
14        start_longitude        시작지점의 경도
15  start_turn_restricted  시작 지점의 회전제한 유무
16           end_latitude        도착지점의 위도
17          end_longitude        도착지점의 경도
18    end_turn_restricted   도작지점의 회전제한 유무
19              road_name             도로명
20        start_node_name           시작지점명
21          end_node_name           도착지점명
22     vehicle_restricted          통과제한차량
23                 target        평균속도(km)

## 전처리 과정에서 제거할 요인들

- 시작지점명, 도착지점명 : 중간에 도로에서의 속도가 주요할 것같아서 일단 배제한 후 훈련
- id, 날짜 : 요일이라는 요소가 따로 있기 때문에 아주 중요한 요소는 아닐거라 판단된다.
- 통과제한차량 : 통과 제한 차량이 유의미한 결론을 내지 못할 거라 판단된다.
- 도로사용여부 : 공지사항

In [ ]:
train_df2 = train_df.drop(['start_node_name','end_node_name','vehicle_restricted','base_date','id','road_name','start_latitude','start_longitude',
                            'end_latitude','end_longitude'],axis=1)

In [ ]:
train_df2

,day_of_week,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_turn_restricted,end_turn_restricted,target
0,목,17,1,106,0,0,60.0,32400.0,0.0,3,없음,없음,52.0
1,목,21,2,103,0,0,60.0,0.0,0.0,0,있음,없음,30.0
2,일,7,2,103,0,0,80.0,0.0,0.0,0,없음,없음,61.0
3,금,13,2,107,0,0,50.0,0.0,0.0,0,없음,없음,20.0
4,화,8,2,103,0,0,80.0,0.0,0.0,0,없음,없음,38.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,목,16,1,107,0,0,50.0,0.0,0.0,0,없음,없음,20.0
4701213,목,2,2,107,0,0,80.0,43200.0,0.0,3,없음,없음,65.0
4701214,월,22,2,103,0,0,60.0,0.0,0.0,0,없음,없음,30.0
4701215,수,2,2,103,0,0,80.0,0.0,0.0,0,없음,없음,73.0
4701216,화,6,2,107,0,0,60.0,0.0,0.0,0,없음,없음,35.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
test_df2 = test_df.drop(['start_node_name','end_node_name','vehicle_restricted','base_date','id','road_name','start_latitude','start_longitude',
                            'end_latitude','end_longitude'],axis=1)

In [ ]:
str_col = ['start_turn_restricted','end_turn_restricted']
for i in str_col:
    le = LabelEncoder()
    le=le.fit(train_df2[i])
    train_df2[i]=le.transform(train_df2[i])
    
    for label in np.unique(test_df2[i]):
        if label not in le.classes_: 
            le.classes_ = np.append(le.classes_, label)
    test_df2[i]=le.transform(test_df2[i])

pd_df = pd.get_dummies(train_df2['day_of_week'])
train_df2 = pd.concat([train_df2, pd_df], axis=1)
pd_df = pd.get_dummies(test_df2['day_of_week'])
test_df2 = pd.concat([test_df2, pd_df], axis=1)

train_df3 = train_df2.drop(['day_of_week'],axis=1)
test_df3 = test_df2.drop(['day_of_week'],axis=1)

In [ ]:
train_df3

,base_hour,lane_count,road_rating,multi_linked,connect_code,maximum_speed_limit,weight_restricted,height_restricted,road_type,start_turn_restricted,end_turn_restricted,target,금,목,수,월,일,토,화
0,17,1,106,0,0,60.0,32400.0,0.0,3,0,0,52.0,0,1,0,0,0,0,0
1,21,2,103,0,0,60.0,0.0,0.0,0,1,0,30.0,0,1,0,0,0,0,0
2,7,2,103,0,0,80.0,0.0,0.0,0,0,0,61.0,0,0,0,0,1,0,0
3,13,2,107,0,0,50.0,0.0,0.0,0,0,0,20.0,1,0,0,0,0,0,0
4,8,2,103,0,0,80.0,0.0,0.0,0,0,0,38.0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4701212,16,1,107,0,0,50.0,0.0,0.0,0,0,0,20.0,0,1,0,0,0,0,0
4701213,2,2,107,0,0,80.0,43200.0,0.0,3,0,0,65.0,0,1,0,0,0,0,0
4701214,22,2,103,0,0,60.0,0.0,0.0,0,0,0,30.0,0,0,0,1,0,0,0
4701215,2,2,103,0,0,80.0,0.0,0.0,0,0,0,73.0,0,0,1,0,0,0,0
4701216,6,2,107,0,0,60.0,0.0,0.0,0,0,0,35.0,0,0,0,0,0,0,1

In [ ]:
y_train = train_df3['target']
x_train = train_df3.drop(['target'],axis=1)

In [ ]:
print(x_train.shape)
print(y_train.shape)
print(test_df3.shape)

(4701217, 18)
(4701217,)
(291241, 18)

In [ ]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error

import xgboost as xgb
import lightgbm as lgb

In [ ]:
import time
start_time = time.time()
total_time = start_time
model_gb = GradientBoostingRegressor(learning_rate=0.01).fit(x_train, y_train)
now = time.time()
print(f'gb 끝 : \n걸린시간 : {now-start_time:.3f/60}분' )

start_time = time.time()
model_xgb = xgb.XGBRegressor().fit(x_train, y_train)
now = time.time()
print(f'xgb 끝 : \n걸린시간 : {now-start_time:.3f/60}분' )

start_time = time.time()
model_lgb = lgb.LGBMRegressor().fit(x_train, y_train)
now = time.time()
print(f'lgb 끝 : \n걸린시간 : {now-start_time:.3f/60}분' )

start_time = time.time()
model_rf = RandomForestRegressor().fit(x_train, y_train)
now = time.time()
print(f'rf 끝 : \n걸린시간 : {now-start_time:.3f/60}분' )
print(f'fit 완료\n총 걸린시간 : {now-total_time:.3f/60}분')

gb 끝 :
걸린시간 : 635.091
[03:11:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[03:11:33] WARNING: /workspace/src/learner.cc:686: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.
xgb 끝 :
걸린시간 : 909.801
lgb 끝 :
걸린시간 : 54.623
rf 끝 :
걸린시간 : 1868.959
fit 완료
총 걸린시간 : 3468.475

In [ ]:
pred_gb = model_gb.predict(test_df3)
pred_xgb = model_xgb.predict(test_df3)
pred_lgb = model_lgb.predict(test_df3)
pred_rf = model_rf.predict(test_df3)

In [ ]:
sample_submission1 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission1['target'] = model_gb.predict(test_df3)
sample_submission1.to_csv("./submit1.csv", index = False)

sample_submission2 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission2['target'] = model_xgb.predict(test_df3)
sample_submission2.to_csv("./submit2.csv", index = False)

sample_submission3 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission3['target'] = model_lgb.predict(test_df3)
sample_submission3.to_csv("./submit3.csv", index = False)

sample_submission4 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission4['target'] = model_rf.predict(test_df3)
sample_submission4.to_csv("./submit4.csv", index = False)

In [ ]:
# 4개 전체 앙상블
sample_submission5 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission5['target'] = (model_xgb.predict(test_df3) + model_gb.predict(test_df3) + model_lgb.predict(test_df3) + model_rf.predict(test_df3))/4
sample_submission5.to_csv("./submit5.csv", index = False)

In [ ]:
# 3개 앙상블
sample_submission6 = pd.read_csv('/content/drive/MyDrive/Study/Dacon/Jeju/sample_submission.csv')
sample_submission6['target'] = (model_xgb.predict(test_df3) + model_gb.predict(test_df3) + model_lgb.predict(test_df3))/3
sample_submission6.to_csv("/content/drive/MyDrive/Study/Dacon/Jeju/DATA/submit6.csv", index = False)

In [ ]:
sample_submission6

                 id     target
0       TEST_000000  29.432528
1       TEST_000001  43.269824
2       TEST_000002  50.125005
3       TEST_000003  38.094388
4       TEST_000004  38.558260
...             ...        ...
291236  TEST_291236  50.531783
291237  TEST_291237  40.909185
291238  TEST_291238  28.814194
291239  TEST_291239  32.035011
291240  TEST_291240  39.766819

[291241 rows x 2 columns]